@keyframes preload_gen {
    0% {
      background-color: #ffe;
      opacity: 0.3;
      height:2ch;
      top:calc(50% - 1ch);
    }
    50% {
      background-color: #ffd;
      opacity: 0.8;
      height:4ch;
      top:calc(50% - 2ch);
    }
    100% {
      background-color: #ffe;
      opacity: 0.3;
      height:2ch;
      top:calc(50% - 1ch);
    }
}
.formLoading li{
    list-style-type:none;
    float:left;
    width:0.5ch;
    height:4ch;
    animation: preload_gen 1s infinite;
}
.formLoading{
    top:calc(50% - 1.5ch);
    position:absolute;
    width:100%;
}
.formLoading li:nth-child(1){
    position:absolute;
    left:calc(50% - 2.25ch);
}
.formLoading li:nth-child(2){
    position:absolute;
    left:calc(50% - 0.25ch);
    animation-delay: .33s;
}
.formLoading li:nth-child(3){
    position:absolute;
    left:calc(50% + 1.75ch);
    animation-delay: .66s;
}

.loading{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,1);
    z-index:999999;
}
.loaded{
    z-index:-99999;
    display:none;
}