*{
    margin: 0;
    padding:0;
    font-size:16px;
    -webkit-text-size-adjust:100%;
}
.body{
    min-width:320px;
}
.dammy-fadein{
    width:100%;
    height:100%;
    position:absolute;
    z-index:101;
    left:0;
    top:0;
    background-color:#000000;
}
.backImg{
    width:100%;
    height:100%;
}
.header{
    font-size:120px;
    -webkit-text-size-adjust: none;
}
.homeTxt{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    z-index:0;
    transition:all 0.3s;
}
.titleContainer{
    background:url("./imgs/IMG_0425.jpg") center/cover;
    width:100%;
    height:100%;
    height: -webkit-fill-available;
    min-height:300px;
    min-width:300px;
    position:absolute;
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
    height:100%;
}
.copyright{
    text-align:center;
    color:rgba(255,255,255,1);
    font-family:'Spartan',monospace;
    padding:10px;
}
.button-wrapper{
    width:12ch;
    position:absolute;
    z-index:1;
    top:0;
    right:0;
    transition:all 0.3s;
}
.buttons{
    position:relative;
    text-align:center;
    height:10vh;
    right:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(255,255,255,1);
    font-family:'Poiret One',cursive;
    letter-spacing:3px;
    transition:all 0.3s;
    padding-right:5px;
    margin-right:0px;
}
.bt-normal:hover{
    transition:all 0.3s;
    padding-right:38%;
}
.bt-normal{
    transition:all 0.3s;
    padding-top:3%;
    padding-bottom:3%;
}
.bt-mobile{
    display:none;
}
.detail_exp{
    color:white;
    position:absolute;
    margin:30px;
    z-index:60;
    font-family:'Poiret One',cursive;
    display:block;
    padding:7px;
    background-color: rgba(0,0,0,0.7);
}
a{
    text-decoration-line:none;
    color:white;
    cursor:pointer;
}
span{
    cursor:pointer;
}
.fadein{
    position:absolute;
    width:100%;
    height:100%;
    z-index:999;
    margin:0;
    padding:0;
}
.iconContainer{
    position:absolute;
    right:0;
    bottom:0;
    padding-right:10px;
}
.twitter_logo{
    padding-bottom:26px;
}
.mail_logo{
    padding-bottom:23px;
}
.github_logo{
    padding-bottom:25px;
}
.twitter_logo:hover{
    padding-bottom:42px;
}
.mail_logo:hover{
    padding-bottom:39px;
}
.github_logo:hover{
    padding-bottom:42px;
}
.logos{
    width:max(36px,4vh);
    position:relative;
    bottom:0;
    z-index:10;
    transition:all 0.3s;
    margin-left:12px;
    margin-right:12px;
}
.cashIframe{
    width:0;
    height:0;
}
@keyframes preload_gen {
    0% {
      background-color: #ffe;
      opacity: 0.3;
      height:2ch;
      top:calc(50% - 1ch);
    }
    50% {
      background-color: #ffd;
      opacity: 0.8;
      height:4ch;
      top:calc(50% - 2ch);
    }
    100% {
      background-color: #ffe;
      opacity: 0.3;
      height:2ch;
      top:calc(50% - 1ch);
    }
}
.formLoading li{
    list-style-type:none;
    float:left;
    width:0.5ch;
    height:4ch;
    animation: preload_gen 1s infinite;
}
.formLoading{
    top:calc(50% - 1.5ch);
    position:absolute;
    width:100%;
}
.formLoading li:nth-child(1){
    position:absolute;
    left:calc(50% - 2.25ch);
}
.formLoading li:nth-child(2){
    position:absolute;
    left:calc(50% - 0.25ch);
    animation-delay: .33s;
}
.formLoading li:nth-child(3){
    position:absolute;
    left:calc(50% + 1.75ch);
    animation-delay: .66s;
}

.loading{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,1);
    z-index:999999;
}
.loaded{
    z-index:-99999;
    display:none;
}
.greetingBack{
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:calc(50% - min(25vw,37vh));
    left:calc(50% - min(25vw,37vh));
    width:min(50vw,74vh);
    height:min(50vw,74vh);
    display:flex;
    align-items:center;
    z-index:50;
    padding:20px;
}
.greetingText{
    font-weight:800;
    font-size:min(7.5vw,11.1vh);
}
.greetingTextGroup{
    width:100%;
    font-family:'Spartan';
    text-align:center;
    color:#bb8800;    
}
@media (max-width:1020px) { /* For smartphone*/
    *{
        font-size:2vh;
    }
	.bt-mobile {
		display: inline;
        position:absolute;
        transition:all 0.3s;
        background-color:rgba(53, 30, 0, 0.8);
        padding:1ch;
        margin:0;
        width:9ch;
        text-align: center;
	}
    .bt-mobile:hover{
        display:inline;
        background-color:rgba(83, 60, 0, 0.8);
    }
    .bt-normal{
        display:none;
    }
    .buttons{
        width:9ch;
        height:20%;
        position:absolute;
    }
    .buttons:hover .bt-mobile{
        display:inline;
        width:9ch;
        padding:1ch;
        position:absolute;
    }
    .button-wrapper{
        background-color:rgba(0,0,0,0);
        position:absolute;
        padding:0;
        z-index:1;
        top:calc(52% + min(40vw,25vh));
        right:0;
        left:0;
        width:100%;
        height:15vh;
        margin:0;
    }
    .button-1{
        top:0%;
        left:calc(50% - 11ch);
    }
    .button-2{
        top:53%;
        left:calc(50% - 11ch);
    }
    .button-3{
        top:0%;
        left:calc(50% + 2ch);
    }
    .button-4{
        top:53%;
        left:calc(50% + 2ch);
    }
    .greetingBack{
        top:calc(45% - min(40vw,20vh));
        left:calc(50% - min(35vw,20vh));
        width:min(70vw,40vh);
        height:min(70vw,40vh);
        z-index:1000;
    }
    .greetingText{
        font-size:min(10.5vw,6vh);
    }
}