*{
    margin: 0;
    padding:0;
    transition:all 0.3s;
}
body{
    background-color:rgba(242,242,242,1);
    font-family:'Spartan',monospace;
    font-size:14px;
}
.wrapper{
    width:100%;
    position:relative;
}
.titleContainer{
    width:100vw;
    min-height:100vh;
    position:absolute;
}

.copyright{
    text-align:center;
    background-color:rgba(30,30,30,1);
    color:rgba(255,255,255,1);
    font-family:'Spartan',monospace;
    font-size:10px;
    padding:0px;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    width:100%;
    position:absolute;
    bottom:0;
}
.footer-fix{
    min-height:100vh;
    position:relative;
    padding-bottom:60px;
    box-sizing:border-box;
}
a{
    text-decoration-line:none;
    color:white;
}
.fadein{
    position:fixed;
    width:100%;
    height:100%;
    z-index:100;
    left:0;
    top:0;
}
.dammy-fadein{
    width:100%;
    height:100%;
    position:fixed;
    z-index:101;
    left:0;
    top:0;
    background-color:#000000;
}
.dammy-header{
    height:7vh;
    min-height:20mm;
}
.header{
    background-color:rgba(56,53,51,0.93);
    top:0;
    position:fixed;
    margin:0;
    z-index:10;
    color:white;
    z-index:5;
    text-align:center;
    height:7vh;
    min-height:20mm;
    width:100%;
    box-shadow:0px 3px 4px rgba(0,0,0,0.5);
}
.header-txt{
    font-family:'Red hat Mono',monospace;
    font-size:max(3vh,8mm);
    line-height:max(7vh,20mm);
    vertical-align:middle;
    left:5mm;
    position:absolute;
}
.header-txt:hover{
    color:#aaa;
}
a .header{
    margin-left:20px;
}
a{
    color:#ffffff;
    transition: all 0.3s;
}
.header-button-pc{
    height:12mm;
    width:12mm;
    position:fixed;
    z-index:90;
    top:4mm;
    color:rgba(255,255,255,1);
    font-size:4mm;
    line-height:12mm;
    vertical-align: middle;
    font-family:'Poiret One',cursive;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    transition:all 0.3s;
}
.header-button-pc-1{
    right:52mm;
    background-color:rgba(179,175,145,0.8);
}
.header-button-pc-2{
    right:36mm;
    background-color:rgba(166,166,166,0.8);
}
.header-button-pc-3{
    right:20mm;
    background-color:rgba(116,113,88,0.8);
}
.header-button-pc-4{
    right:4mm;
    background-color:rgba(89,89,89,0.8);
}
.header-button-sp{
    display:none;
}

.hb-normal{
    display:inline;
}
.hb-hover{
    display:none;
}
.header-button-pc:hover .hb-normal{
    display:none;
}
.header-button-pc:hover .hb-hover{
    display:inline;
    padding-left:4mm;
    letter-spacing:5px;
    color:#ccc;
}
.header-button-pc:hover {
    position:fixed;
    text-align:left;
    width:32mm;
    transform:rotate(90deg);
    transform-origin:60px 60px;
}
.hugeA{
    height:80vh;
    max-height:100vw;
    position:absolute;
    top:20px;
    right:10mm;
    z-index:-200;
}
h1{
    font-size:min(10vw,25mm);
    padding:30px;
    text-align:center;
    position:relative;
    display:flex;
    align-items:center;
}
h1::before,
h1::after{
    content:"";
    height:2px;
    background-color:#000000;
    flex-grow:1;
    margin:1rem;
}
h2{
    font-size:10mm;
    position:relative;
    margin-bottom:3mm;
}
h2::before{
    content:"";
    width:100px;
    height:5px;
    background-color:#000000;
    position:absolute;
    bottom:-2px;
    left:0px;
 }
 
 .about-contents{
    width:100%;
    position:relative;
 }

 .mypic{
    width:30vw;
    height:30vw;
    margin-left:10vw;
    margin-bottom:50px;
    vertical-align: top;
 }
 .career{
    color:rgba(0,0,0,1);
    width:50vw;
    height:30vw; 
    margin-left:50px;
    display:inline-block;
    vertical-align: top;
 }
 .career-dtl{
    margin:25px;
    margin-bottom:30px;
    padding-left:10px;
    border-left-color:#000000;
    border-left-width:3px;
    border-left-style:solid;
 }
.font-rhm{
    font-family:'Red hat Mono',monospace;
}
.career-text{
margin:10px;
}
.contact{
    width:80vw;
    height:auto;
    margin-left:10vw;
    margin-bottom:50px;
    text-align:center;
}
.works_pic{
    width:32vw;
    min-width:420px;
    position:absolute;
    top:0;
    right:50vw;
    display:inline-block;
}
.works_pic:hover{
    filter:brightness(50%);
}
.works_txt{
    display:inline-block;
    width:40vw;
    left:50%;
    position:absolute;
    top:0;
}
.txt_jpn{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.each_works:after{
    content:"";
    display:block;
    padding-top:max(28%,300px);
    padding-bottom:0;
}
.each_works{
    width:90vw;
    left:0;
    right:0;
    margin:auto;
    padding:0;
    position:relative;
}
.works-dtl{
    margin:25px;
    margin-bottom:30px;
    padding-left:10px;
    border-left-color:#000000;
    border-left-width:3px;
    border-left-style:solid;
    font-size:16px;
 }
 .tag {
    background-color:#D4C6A8;
    width:20mm;
    vertical-align:middle;
    padding:1mm;
    margin-right:2mm;
    border-left: solid 6px #8F581F;
    white-space:nowrap;
    font-size:10px;
}
.year{
    color:#999999;
    font-size:3mm;
    margin:2mm;
}
 @media (max-width:1020px) { /* For smartphone*/
    .career{
        width:80vw;
        height:auto;
        margin-left:10vw;
        vertical-align: top;
        position:relative;
    }   
    .mypic{
        width:80vw;
        height:80vw;
    }
    .works_pic{
        margin:auto;
        left:0;
        right:0;
        position:auto;
        width:100vw;
        margin-top:2vw;
        display:block;
        position:relative;
    }
    .works_pic:hover{
        width:100vw;
        right:auto;
        top:auto;
    }    
    .works_txt{
        position:relative;
        top:auto;
        left:auto;
        margin:auto;
        padding:5mm;
        background-color:rgba(0,0,0,0.85);
        color:rgba(255,255,255,1);
        width:calc(100vw - 10mm);
        display:block;
    }
    .works-dtl{
        font-size:max(1.5vw,6mm);
    }
    .works-title{
        font-size:6vw;
    }
    .each_works:after{
        padding-top:0;
    }
    .each_works{
        width:100%;
        height:auto;
        position:relative;
        display:block;
    }
    .works-dtl{
        border-left-color:#ffffff;
    }
    .h2{
        padding-left:50mm;
        font-size:24px;
    }
    h2::before{
        background-color:#ffffff;
    }
    .before-black:before{
        background-color:#000000;
    }
    .tag{
        color:#000;
    }
    .header-button-pc{
        display:none;
    }
    .header-button-sp{
        display:inline-block;
        position:absolute;
        right:2vw;
        width:max(4vh,16mm);
        height:max(4vh,16mm);
        line-height:max(4vh,12mm);
    }
    .header-txt{
        left:0;
        right:0;
        margin:auto;
    }    
    .menu-btn {
        position: fixed; /* header max(7vh,20mm) */
        right:5mm;
        display: flex;
        top:max(0.5vh,3mm);
        width:max(6vh,8mm);
        height:max(6vh,8mm);
        justify-content: center;
        align-items: center;
        z-index: 120;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: max(0.3vh,0.5mm);
        width:max(4vh,8mm);
        border-radius: 0px;
        background-color: #ffffff;
        position: absolute;
        transition:all 0.3s;
    }
    .menu-btn span:before {
        bottom: max(1.8vh,2.2mm);
    }
    .menu-btn span:after {
        top: max(1.8vh,2.2mm);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 110;
        background-color: rgba(0,0,0,0);
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
        background-color: rgba(0,0,0,1);
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu-link{
        color:#ddd;
        font-size:3vh;
        left:0;
        right:0;
        margin:auto;
        position:absolute;
    }
    .menu-link:hover{
        color:#D4C6A8;
        font-size:4vh;
    }
    .menu-link-1{
        top:35vh;
    }    
    .menu-link-2{
        top:45vh;
    }
    .menu-link-3{
        top:55vh;
    }
    .menu-link-4{
        top:65vh;
    }

 } 