*{
    margin: 0;
    padding:0;
    transition:all 0.3s;
}
body{
    background-color:rgba(235,235,235,1);
    font-family:'Spartan',monospace;
}
.wrapper{
    width:100%;
    position:relative;
}
.titleContainer{
    width:100vw;
    min-height:100vh;
    position:absolute;
}
a{
    text-decoration-line:none;
    color:white;
    cursor:pointer;
}
span{
    cursor:pointer;
}
.copyright{
    text-align:center;
    background-color:#2B2F2C;
    color:rgba(255,255,255,1);
    font-family:'Spartan',monospace;
    font-size:0.8rem;
    padding:0px;
    padding-top:30px;
    padding-bottom:30px;
    margin:0;
    width:100%;
    position:absolute;
    bottom:0;
    z-index:50;
}
.footer-fix{
    min-height:100vh;
    position:relative;
    padding-bottom:20px;
    box-sizing:border-box;
}
a{
    text-decoration-line:none;
    color:white;
}
.fadein{
    position:fixed;
    width:100%;
    height:100%;
    z-index:100;
    left:0;
    top:0;
    pointer-events:none;
}
.dammy-fadein{
    width:100%;
    height:100%;
    position:fixed;
    z-index:101;
    left:0;
    top:0;
    background-color:#000000;
}
.dammy-header{
    height:7vh;
    min-height:20mm;
}
.header{
    background-color:rgba(59,63,60,0.9);
    top:0;
    position:fixed;
    margin:0;
    padding:0;
    z-index:10;
    color:white;
    z-index:5;
    text-align:center;
    height:7vh;
    min-height:20mm;
    width:100vw;
    box-shadow:0px 3px 4px rgba(0,0,0,0.5);
}
.header-txt{
    font-family:'Poiret One',cursive;
    line-height:max(7vh,20mm);
    font-size:2rem;
    vertical-align:middle;
    left:max(20mm,6vh);
    position:absolute;
}
.header-txt:hover{
    color:#aaa;
}
.header-icon{
    position:fixed;
    height:5vh;
    top:max(1vh,3mm);
    left:max(1vh,3mm);
    min-height:14mm;
}
.header-icon:hover{
    filter:brightness(90%);
}
a .header{
    margin-left:20px;
}
a{
    color:#ffffff;
    transition: all 0.3s;
}
.header-button-pc{
    height:12mm;
    width:12mm;
    position:fixed;
    z-index:90;
    top:4mm;
    color:rgba(255,255,255,1);
    line-height:12mm;
    vertical-align: middle;
    font-family:'Poiret One',cursive;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    transition:all 0.3s;
}
.header-button-pc-1{
    right:52mm;
    background-color:rgba(179,175,145,0.8);
}
.header-button-pc-2{
    right:36mm;
    background-color:rgba(166,166,166,0.8);
}
.header-button-pc-3{
    right:20mm;
    background-color:rgba(116,113,88,0.8);
}
.header-button-pc-4{
    right:4mm;
    background-color:rgba(89,89,89,0.8);
}
.header-button-sp{
    display:none;
}

.hb-normal{
    display:inline;
}
.hb-hover{
    display:none;
    transform:rotate(90deg);
    transform-origin:60px 60px;
}
.header-hov{
    background-color:#000;
    width:32mm;
    position:fixed;
}
.header-button-pc:hover .hb-normal{
    display:none;
}
.header-button-pc:hover .hb-hover{
    display:inline-block;
    padding-left:4mm;
    letter-spacing:5px;
    margin-left:-75px;
    color:#fff;
    transform:rotate(90deg);
    transform-origin:60px 60px;
    transition:all 0.3s;
}
.header-button-pc:hover {
    position:fixed;
    text-align:left;
    height:32mm;
}
.header-nm-button-pc{
    height:12mm;
    position:fixed;
    display:inline;
    text-align:left;
    width:32mm;
    transform:rotate(90deg);
    transform-origin:60px 60px;
    z-index:90;
    top:4mm;
    color:rgba(255,255,255,1);
    line-height:12mm;
    vertical-align: middle;
    font-family:'Poiret One',cursive;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    transition:all 0.3s;
}
.hb-nm-normal{
    padding-left:4mm;
    letter-spacing:5px;
}
.hugeA{
    height:80vh;
    max-height:100vw;
    position:absolute;
    top:20px;
    right:10mm;
    z-index:-1;
}
h1{
    font-size:4rem;
    padding:30px;
    padding-top:80px;
    padding-bottom:60px;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    position:relative;
    align-items:center;
    font-family:'Spartan',cursive;
    font-weight:lighter;
    letter-spacing:10px;
}

h2{
    font-size:2rem;
    position:relative;
    margin-bottom:3mm;
    font-family:'Spartan',cursive;
    letter-spacing:8px;
}
h2::before{
    content:"";
    width:100px;
    height:5px;
    background-color:#000000;
    position:absolute;
    bottom:-6px;
    left:0px;
 }
h3{
    font-size:2rem;
    padding-bottom:10px;
    padding-top:50px;
    text-align:center;
    font-family:'Poiret One',cursive;
    letter-spacing:5px;
}
 .about-contents{
    width:100vw;
    margin:0;
    padding:0;
    position:relative;
    z-index:1;
 }
 .about-contents2{
    width:100%;
    position:relative;
    padding-top:150px;
    background-image:  
    linear-gradient(90deg, rgba(206,202,172,0.8) 50%, transparent 0%), 
    linear-gradient(0deg, rgba(206,202,172,0.8) 50%, transparent 0%);
    background-position:  2px 0, 2px 0, 0 0, 0 0;
    background-size: 2px 2px;
    background-repeat: repeat;

    background-color:rgba(209,205,175,0.8);
    -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%); 
    z-index:-11;
 }
.back-1{
    width:100%;
    position:relative;
    padding-top:150px;
}
.back-2{
    width:100%;
    position:relative;
    padding-top:200px;
    padding-bottom:150px;
    background-color:rgba(209,205,175,0.8);
/*    background-image: radial-gradient( rgba(209,205,175,0.8) 2px,rgba(204,200,170,0.8) 2px);
    background-size: 4px 4px;*/

    background-image:  
    linear-gradient(90deg, rgba(204,200,170,0.8) 50%, transparent 0%), 
    linear-gradient(0deg, rgba(209,205,175,0.8) 50%, transparent 0%);
    background-position:  2px 0, 2px 0, 0 0, 0 0;
    background-size: 2px 2px;
    background-repeat: repeat;

    -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%); 
}.back-3{
    width:100%;
    position:relative;
    padding-top:200px;
    margin-top:-150px;
    padding-bottom:80px;
    background-color:#B5B7AA;

    background-image:  
    linear-gradient(90deg, rgba(181,183,170,0.8) 50%, transparent 0%), 
    linear-gradient(0deg, rgba(178,180,167,0.8) 50%, transparent 0%);
    background-position:  2px 0, 2px 0, 0 0, 0 0;
    background-size: 2px 2px;
    background-repeat: repeat;

    -webkit-clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%); 
}
 .mypic{
    width:max(370px,40vh);
    height:max(370px,40vh);
    margin-left:15vw;
    margin-bottom:50px;
    vertical-align: top;
    background:transparent;
 }
 .career{
    color:rgba(0,0,0,1);
    width:48vw;
    margin-left:8px;
    display:inline-block;
    vertical-align: top;
 }
 .career_typing{
    color:rgba(0,0,0,1);
    width:70vw;
    margin-left:15vw;
    display:inline-block;
    vertical-align: top; 
}
 .career_typing-dtl{
     margin:30px;
     border-left-color:#000000;
     border-left-width:3px;
     border-left-style:solid;
     padding-left:10px; 
 }
 .career_table{
    text-align:left;
    margin-bottom:30px;
    margin-left:15vw;
    padding-top:30px;
    padding-bottom:30px;
    width:70vw;
 }
 .career_table th{
     padding-right:20px;
     padding-bottom:10px;
 }
 .career_table td{
     padding-bottom:10px;
 }
 .career_table_jpn td{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
 }
.typing_score_table td{
    border-bottom: solid 2px #aaaaaa;
    padding-left:5px;
}
.ovwra{
    overflow:hidden;
}
.typing_score_table th{
    border-bottom: solid 2px #000000;
}
.typing_score_table{
    table-layout: fixed;
    width:60vw;
    left:0;
    right:0;
    margin:auto;
    padding-bottom:60px;
    text-align:center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.typing_table_small{
    font-size:0.8rem;
}
.career-dtl{
    margin-left:25px;
    margin-bottom:30px;
    margin-top:40px;
    margin-right:0px;
    padding-left:10px;
    border-left-color:#000000;
    border-left-width:1px;
    border-left-style:solid;
}
.font-rhm{
    font-family:'Red hat Mono',monospace;
}
.works_pic{
    width:38vw;
    min-width:480px;
    position:absolute;
    top:0;
    right:47vw;
    display:inline-block;
    z-index:50;
}
.works_pic:hover{
    filter:brightness(50%);
}
.works_txt{
    display:inline-block;
    width:45vw;
    left:50%;
    position:absolute;
    top:0;
}
.txt_jpn{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.each_works:after{
    content:"";
    display:block;
    padding-top:max(28%,300px);
    padding-bottom:0;
}
.each_works{
    width:90vw;
    left:0;
    right:0;
    margin:auto;
    padding:0;
    position:relative;
}
.each_songs:after{
    content:"";
    display:block;
    padding-bottom:0;
}
.each_songs{
    width:90vw;
    left:0;
    right:0;
    margin:auto;
    padding:0;
    position:relative;
}
.vertical_border{
    display:block;
    width:100%;
    margin-bottom:320px;
}
.vertical_border:after{
    content:"";
    background-color:#000;
    width:1px;
    height:240px;
    left:50%;
    margin-top:30px;
    position:absolute;
}
.vertical_border2{
    display:block;
    width:100%;
    margin-bottom:200px;
}
.vertical_border2:after{
    content:"";
    background-color:#000;
    width:1px;
    height:160px;
    margin-top:20px;
    left:50%;
    position:absolute;
}
.vertical_border_new{
    height:220px;
    width:100vw;
    margin-top:100px;
    position:relative;
}
.vertical_border_new:after{
    content:"";
    background-color:black;
    width:1px;
    height:180px;
    display:inline-block;
    position:absolute;
    left:50%;
}
.works-dtl{
    margin:25px;
    margin-bottom:30px;
    padding-left:10px;
    border-left-color:#000000;
    border-left-width:3px;
    border-left-style:solid;
 }
 .tag{
    background-color:#D4C6A8;
    width:20mm;
    vertical-align:middle;
    padding:1mm;
    margin-right:2mm;
    border-left: solid 6px #D9A223;
    white-space:nowrap;
    font-size:0.7rem;
}
.year{
    color:#999999;
    margin:2mm;
}
.iframe-songs{
    padding-left:5%;
    width:40%;
    height:40vh;
}
.txt-center{
    text-align:center;
    margin-left:8px;
    display:inline-block;
    vertical-align: top;
    width:100%;
    padding-bottom:100px;
}
.margin-typing{
    height:50px;
}
.career-text{
    line-height:2rem;
}
 @media (max-width:1020px) { /* For smartphone*/
    html{
        -webkit-text-size-adjust: none;
        width:100vw;
        margin:0;
        padding:0;
    }
    body{
        margin:0;
        padding:0;
        font-size:2rem;
        font-size:max(4mm,min(2vh,2rem));
    }
    .contact{
        height:auto;
    }
    .career{
        left:0;
        right:0;
        margin:auto;
        width:100vw;
        text-align:center;
        padding:0;
        vertical-align: top;
        position:relative;
    }
    .txt-center{
        vertical-align: top;
        position:relative;
        margin-top:60px;
        margin-bottom:60px;
    }
    .career-text{
        width:90vw;
        left:0;
        right:0;
        margin:auto;
        height:auto;
        line-height:4rem;
    }
    .mypic{
        width:50vw;
        height:50vw;
        margin-left:25vw;
    }
    .works_pic{
        margin:auto;
        left:0;
        right:0;
        width:100%;
        position:auto;
        margin:0;
        padding:0;
        margin-top:2vw;
        display:block;
        position:relative;
    }
    .works_txt{
        position:relative;
        top:auto;
        left:auto;
        width:100%;
        margin:auto;
        padding-top:3vh;
        color:rgba(0,0,0,1);
        display:block;
        margin-bottom:5vh;
        margin-top:-10px;
        line-height:150%;
    }
    .career-dtl{
        margin:25px;
        margin-bottom:120px;
        margin-top:120px;
        text-align:center;
        border-left:none;
        line-height:1.5rem;
    }
    .career_typing{
        color:rgba(0,0,0,1);
        width:90vw;
        padding:0;
        margin:5vw;
        display:inline-block;
        vertical-align: top; 
    }
    .career_table{
        text-align:left;
        margin:0;
        margin-bottom:30px;
        margin-left:5vw;
        margin-right:0px;
        width:90vw;
        padding:0;
        padding-top:40px;
        padding-bottom:30px;
        left:5vw;
        line-height:2rem;
     }
     .career_table th{
         padding-bottom:10px;
     }
     .career_table td{
         padding-bottom:10px;
     }
     .career_table_jpn td{
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
     }
    .typing_score_table td{
        border-bottom: solid 2px #aaaaaa;
        padding-left:5px;
    }
    .typing_score_table th{
        border-bottom: solid 2px #000000;
    }
    .typing_score_table{
        table-layout: fixed;
        width:90vw;
        margin:0;
        padding:0;
        text-align:center;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
    .typing_table_small{
        font-size:min(1.5vh,1.5rem);
    }
    .iframe-songs{
        padding:0;
        margin:0;
        width:100%;
        height:25vh;
    }
    .each_works:after{
        padding-top:0;
    }
    .each_works{
        width:70vw;
        height:auto;
        left:0;
        right:0;
        margin:auto;
        padding:0;
        position:relative;
        display:block;
        text-align:center;
    }
    .year{
        text-align:center;
        padding-top:0px;
        padding-bottom:40px;
    }
    .vertical_border{
        display:none;
    }
    .works-dtl{
        border-left-color:black;
        border-left-style:none;
    }
    h1{
        font-size:min(10vh,5rem);
        padding:8vh;
    }
    h3{
        font-size:min(6.5vh,3.5rem);
        font-size:3.5rem;
    }
    h2{
        font-size:min(6vh,3.5rem);
        padding-top:3vh;
        padding-bottom:1vh;
        margin-bottom:3vh;
        line-height:normal;
        left:0;
        right:0;
        margin:auto;
        text-align:center;
    }
    h2::before{
        display:none;
    }
    .copyright{
        font-size:1.2rem;
    }
    .non-white:before{
        background-color:#000000;
    }
    .before-black:before{
        background-color:#000000;
    }
    .tag{
        color:#000;
        font-size:1.5rem;
        text-align:center;
        position:relative;
        left:0;
        right:0;
        margin:auto;
        display:none;
    }
    .header-button-pc{
        display:none;
    }
    .header-button-sp{
        display:inline-block;
        position:absolute;
        right:2vw;
        width:max(4vh,16mm);
        height:max(4vh,16mm);
        line-height:max(4vh,12mm);
    }
    .header-txt{
        left:0;
        right:0;
        font-size:min(4vh,4rem);
        margin:auto;
    }    
    .header-nm-button-pc{
        display:none;
    }
    .menu-btn {
        position: fixed; /* header max(7vh,20mm) */
        right:5mm;
        display: flex;
        top:max(1vh,4mm);
        width:max(6vh,8mm);
        height:max(5vh,8mm);
        justify-content: center;
        align-items: center;
        z-index: 120;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: max(0.3vh,0.5mm);
        width:max(4vh,8mm);
        border-radius: 0px;
        background-color: #ffffff;
        position: absolute;
        transition:all 0.3s;
    }
    .menu-btn span:before {
        bottom: max(1.8vh,2.2mm);
    }
    .menu-btn span:after {
        top: max(1.8vh,2.2mm);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 110;
        background-color: rgba(0,0,0,0);
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
        background-color: rgba(0,0,0,1);
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu-link{
        color:#ddd;
        left:0;
        right:0;
        margin:auto;
        position:absolute;
    }
    .menu-link:hover{
        color:#D4C6A8;
    }
    .menu-link-1{
        top:35vh;
    }    
    .menu-link-2{
        top:45vh;
    }
    .menu-link-3{
        top:55vh;
    }
    .menu-link-4{
        top:65vh;
    }
    .each_songs{
        width:60vw;
        left:0;
        right:0;
        margin:auto;
        padding:0;
    }
    .each_songs:after{
        height:0;
    }
 } 