@font-face{
    font-family: 'Spartan';
    src:url("./fonts/LeagueSpartan-ExtraLight.ttf");
}
@font-face{
    font-family: 'SpartanBold';
    src:url("./fonts/LeagueSpartan-SemiBold.ttf");
}
@font-face{
    font-family: 'PoiretOne';
    src:url("./fonts/PoiretOne-Regular.ttf");
}
@font-face{
    font-family: 'ZenKakuGothic';
    src:url("./fonts/ZenKakuGothicAntique-Light.ttf");
}
*{
    margin: 0;
    padding:0;
    font-size:16px;
    -webkit-text-size-adjust:100%;
}
.body{
    min-width:320px;
    -webkit-font-smoothing: antialiased;
}
.dammy-fadein{
    width:100%;
    height:100%;
    position:absolute;
    z-index:101;
    left:0;
    top:0;
    background-color:#000000;
}
.backImg{
    width:100%;
    height:100%;
}
.header{
    font-size:120px;
    -webkit-text-size-adjust: none;
}
.homeTxt{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    z-index:0;
    transition:all 0.3s;
}
.titleContainer{
    background:url("./imgs/IMG_0425.jpg") center/cover;
    width:100%;
    height:100%;
    height: -webkit-fill-available;
    min-height:300px;
    min-width:300px;
    position:absolute;
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
    height:100%;
}
.copyright{
    text-align:center;
    color:rgba(255,255,255,1);
    font-family:"Spartan",monospace;
    padding:10px;
}
.button-wrapper{
    width:12ch;
    position:absolute;
    z-index:1;
    padding-top:2vh;
    top:0;
    right:0;
    transition:all 0.3s;

}
.buttons{
    position:relative;
    text-align:center;
    height:4.5vh;
    padding-top:10px;
    padding-bottom:10px;
    right:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(255,255,255,1);
    font-family:"PoiretOne",cursive;
    letter-spacing:3px;
    transition:all 0.3s;
    padding-right:5px;
    margin-right:0px;
}
.bt-normal:hover{
    transition:all 0.3s;
    padding-right:38%;
}
.bt-normal{
    transition:all 0.3s;
    padding-top:3%;
    padding-bottom:3%;
}
.bt-mobile{
    display:none;
}
.detail_exp{
    color:white;
    position:absolute;
    margin:30px;
    z-index:60;
    font-family:"PoiretOne",cursive;
    display:block;
    padding:7px;
    background-color: rgba(0,0,0,0.7);
}
a{
    text-decoration-line:none;
    color:white;
    cursor:pointer;
}
span{
    cursor:pointer;
}
.fadein{
    position:absolute;
    width:100%;
    height:100%;
    z-index:999;
    margin:0;
    padding:0;
}
.iconContainer{
    position:absolute;
    right:0;
    bottom:0;
    padding-right:20px;
}
.twitter_logo{
    padding-bottom:23px;
}
.mail_logo{
    padding-bottom:23px;
}
.github_logo{
    padding-bottom:25px;
}
.twitter_logo:hover{
    padding-bottom:39px;
}
.mail_logo:hover{
    padding-bottom:39px;
}
.github_logo:hover{
    padding-bottom:42px;
}
.logos{
    width:36px;
    position:relative;
    bottom:0;
    z-index:10;
    transition:all 0.3s;
    margin-left:12px;
    margin-right:12px;
}
.cashIframe{
    width:0;
    height:0;
    position:absolute;
    left:0;
    bottom:0;
}
.greetingBack{
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:calc(50% - min(25vw,37vh));
    left:calc(50% - min(25vw,37vh));
    width:min(50vw,74vh);
    height:min(50vw,74vh);
    display:flex;
    align-items:center;
    z-index:30;
    overflow:hidden;
    white-space:nowrap;
}
.greetingText{
    font-size:min(8.5vw,12.1vh);
    display:inline;
    overflow:hidden;
}
.typingCursor{
    display:inline;
}
.greetingTextGroup{
    width:100%;
    font-family:"SpartanBold";
    text-align:center;
    color:#bb8800;    
}
@media (max-width:1020px) { /* For smartphone*/
    *{
        font-size:2vh;
    }
	.bt-mobile {
		display: inline;
        position:absolute;
        transition:all 0.3s;
        background-color:rgba(53, 30, 0, 0.8);
        padding:1ch;
        margin:0;
        width:9ch;
        text-align: center;
	}
    .bt-mobile:hover{
        background-color:rgba(83, 60, 0, 0.8);
    }
    .bt-normal{
        display:none;
    }
    .buttons{
        width:9ch;
        height:20%;
        position:absolute;
    }
    .button-wrapper{
        background-color:rgba(0,0,0,0);
        position:absolute;
        padding:0;
        margin:0;
        z-index:1;
        top:calc(52% + min(35vw,20vh));
        right:0;
        left:0;
        width:100%;
        height:15vh;
    }
    .button-1{
        top:0%;
        left:calc(50% - 11ch);
    }
    .button-2{
        top:53%;
        left:calc(50% - 11ch);
    }
    .button-3{
        top:0%;
        left:calc(50% + 2ch);
    }
    .button-4{
        top:53%;
        left:calc(50% + 2ch);
    }
    .greetingBack{
        top:calc(45% - min(40vw,20vh));
        left:calc(50% - min(35vw,20vh));
        width:min(70vw,40vh);
        height:min(70vw,40vh);
        z-index:30;
    }
    .greetingText{
        font-size:min(10.5vw,6vh);
    }
}